/* Reset */
*{margin:0px;padding:0px; font-family:sans serif}
a{ text-decoration:none;}
ul,li{list-style:;}
body{background:#eee}
.width1200{width:1200px; margin:0px auto;}



/* navigasyon  */
.nav{height:90px; background:#26292B; }
.nav ul{float:right}
.nav ul li {float:left;display:block;margin-top:40px;}
.nav ul li a{color:#FAFAFA; padding:5px 10px;font-size:16px; }
.nav img{height:70px; margin-top:10px;}
.nav ul li a:hover{color:#FF5722}

/* banner */
.banner{height:560px; background:url('banner.png')}
.width400{width:400px; margin:0px auto; text-align:center}
.width400 img{ width:200px; margin:30px 0px;}
.width400 p{font-size:22px; line-height:35px; margin-bottom:30px; color:#26292B}
.width400 a{ background:url('buton.png'); padding:10px 70px; color:#FAFAFA; font-weight:bold; font-size:18px; border-radius:8px;}
.width400 a:hover{color:#26292B}

/* Masaüstü Ortamı */
.desktop{height:400px; background:#26292B;}
.desktopyazi{width:400px; height:400px;float:left; color:#FAFAFA; line-height:35px; font-size:20px;}
.desktopyazi h2{color:#FF5722; font-size:30px; margin-top:10px; margin-bottom:20px;}
.desktop img{ height:400px; float:right}
.desktopyazi a{ background:#FF5722; color:#FAFAFA; padding:10px 17px; border-radius:8px;}



/* content */
.content{height:330px; background:#999; padding-top:60px;}
.width600{width:500px; padding-right:100px; height:350px; float:left; line-height:35px; font-size:20px; }



/*galeri*/

.galeri{height:280px; background:#FAFAFA; }
.imgbox{float:left; margin:20px 48px; border:1px solid #999; filter:opacity(0.4); transition:0.4s }
.imgbox:hover{filter:opacity(1)}
.galeri img{ height:200px; width:300px;}






/* Footer */
.footer{height:100px; background:#26292B; padding-top:30px; font-size:16px; color:#FAFAFA}
.footer a{color:#FAFAFA; padding-left:10px;}
.footer a:hover{color:#FF5722}




/* Hakkımızda Sayfası */
.hakkimizda{background:#fff; width:1100px; padding:50px; height:800px; text-align:center; margin:40px auto;border-radius:5px 5px 0px 0px;}
.hakkimizda h1 {color:#FF5722; margin:0px 20px;}
.hakkimizda span{font-size:20px; line-height:25px; color:#444; text-align:left;}
.hakkimizda img{ width:300px;}


/* Ekibimiz Sayfası */
.ekibimiz{width:1200px; height:550px; margin:0px auto; margin-top:50px; background:#fff; border-radius:5px 5px 0px 0px; } 
.ekibimiz table{ background:; text-align:center; margin-left:20px; padding-top:30px;}
.ekibimiz td{padding-left:70px; padding-top:3px; font-size:22px; color:#555;}
.ekibimiz table img{width:130px; border-radius:100px;}
.tesekkur{width:1190px;  margin:0px auto; margin-bottom:50px; padding-bottom:100px;  padding-left:10px; background:#fff; line-height:27px; font-size:18px; color:#555}
.tesekkur table{margin:0px auto;}
.tesekkur img{width:50px; padding-top:20px;}
.tesekkur a{color:#FF5722; padding-left:5px;}
.tesekkur a:hover{border-bottom:1px solid #FF5722;}
.tesekkur h3{font-size:25px; padding-bottom:10px; color:#333}
/* İletişim Sayfası */

.iletisim{width:1200px; height:500px; background:#fff; padding-top:30px; margin:40px auto; border-radius:5px 5px 0px 0px;}
.iletisim table{font-size:18px; color:#444;  margin:0px auto;}
.iletisim td{padding-top:5px;}
.iletisim input[type="text"]{padding:4px 5px; margin-top:5px; width:335px; border-radius:5px;}
.iletisim input[type="email"]{padding:4px 5px; margin-top:5px; width:335px; border-radius:5px;}
.iletisim textarea{margin-top:5px; resize:none; padding:5px; font-size:15px; border-radius:5px;}
.iletisim input[type="reset"]{font-size:18px; padding:3px 6px; color:#333; margin-top:10px;}
.iletisim input[placeholder]{font-size:15px;}
.iletisim input[type="submit"]{font-size:18px; padding:3px 35px; color:#333; margin-top:10px;}
.iletisim h1{color:#FF5722;}

/* İndir Sayfası */
.indir{width:1100px; padding:20px 50px; height:400px; background:#fff; margin:40px auto; border-radius:5px 5px 0px 0px;	}
.indir span{font-size:30px;color:#555;}
.indir a{color:#009; font-size:18px;}



